body {
    background-image: url(https://img.freepik.com/free-photo/red-background-display-your-product_1258-82970.jpg);
    overflow-x: hidden;
    filter: brightness(-50%);
    /* background-repeat: no-repeat; */
    background-size: cover;
    back
}

.header-container {
    border: 1px solid black;
    height: 70px;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 1px solid black;
    color: red;
    width: 30%;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
    padding-left: 15px;
}

.header-side-button {
    border: 1px solid black;
    /* width: 40%; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px;
    padding-right: 25px;
}

.signin {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    height: 15px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-con {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 500px;
    z-index: 0;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-image: url(https://cdn-images-1.medium.com/max/1024/1*5lyavS59mazOFnb55Z6znQ.png);
}

.back-drop-filter {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    top: 0;
    z-index: 1;
}

.plus-btn {
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: -20px;
    border-radius: 100%;
}

.inner-con {
    /* border: 1px solid rgb(255, 255, 255); */
    /* height: 100px; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;
    z-index: 2;

}

.content1 {
    /* border: 1px solid black; */
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    font-size: 3.5rem;

}

.con1 {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content1,
span {
    text-align: center;

}

.content2 {
    /* border: 1px solid white; */
    color: white;
    font-weight: 600;
    font-size: large;
    padding-left: 30px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

.inner-con1 {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    z-index: 2;
    /* gap: 10px; */

}

.content3 {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 400;

}

.content4 {
    /* border: 1px solid white; */
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.mail {
    /* border: 1px solid white; */
    height: 40px;
    width: 290px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgb(157, 157, 157);
    padding-left: 10px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

.get-started {
    /* border: 1px solid white; */
    height: 40px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: red;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.sec-con {
    /* border: 1px solid rgb(255, 255, 255); */
    height: 300px;
    width: 90%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items:center ; */
    padding-left: 30px;
    margin-left: 40px;

}

.trending-now {
    /* border: 1px solid white; */
    display: flex;
    font-weight: 900;
    font-size: xx-large;
    color: rgb(255, 222, 222);
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    padding: 20px 20px;
}

.logo_img {
    width: 200px;
    height: 130px;
}

.inner-sec-containers {
    /* border: 1px solid white; */
    height: 250px;
    width: 90%px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 40px;
}

.inner-sec-con {
    /* border: 1px solid white; */
    border-radius: 20px;
    height: 250px;
    width: 140px;
    /* gap: 10px; */
    overflow: hidden;
    background-size: cover;

}

.inner-con2 {
    /* border: 1px solid rgb(255, 255, 255); */
    height: 200px;
    padding: 10px;

}

.head-con {
    /* border: 1px solid white; */
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: 800;
    padding-left: 20px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

.inner-sec-containers1 {
    /* border: 1px solid white; */
    border-radius: 20px;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 10px;
    padding-left: 20px;
}

.inner-sec-con1 {
    /* border: 1px solid white; */
    border-radius: 20px;
    height: 88%;
    width: 320px;
    background-color: rgb(105, 104, 104);
    z-index: 0;
}

.add-txt {
    position: absolute;
    z-index: 1;
    padding-left: 10px;
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}
.inner-con3{
    border: 1px solid white;
    height: 600px;
    margin-left: 20px ;
    margin-right: 20px;
    /* gap: 30px; */
    
}
.questions{
    border:1px solid rgb(243, 234, 234);
    font-weight: 800;
    font-size: xx-large;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.inner-sec-con2{
    border: 1px solid white;
    height: 80px;
    border-radius: 20px;
    background-color: rgb(133, 133, 133);
    
   
}
.ques-cont{
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.top-no-item {
     position: absolute;
     color:white ;
     font-weight: bold;
     font-size: xx-large;
     padding: 10px 10px;
}