body {
    background-image: url(https://img.freepik.com/free-photo/red-background-display-your-product_1258-82970.jpg);
    overflow-x: hidden;
    filter: brightness(-50%);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-container {
    border: 1px solid black;
    height: 70px;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    border: 1px solid black;
    color: red;
    width: 30%;
    font-weight: 800;
    font-style: normal;
    font-size: xx-large;
    padding-left: 15px;
}

.header-side-button {
    border: 1px solid black;
    /* width: 40%; */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    padding: 10px;
    padding-right: 25px;
}

.signin {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    height: 15px;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    height: 500px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    background-image: url(https://cdn-images-1.medium.com/max/1024/1*5lyavS59mazOFnb55Z6znQ.png);
}

.inner-con {
    /* border: 1px solid rgb(255, 255, 255); */
    /* height: 100px; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 20px;

}

.content1 {
    /* border: 1px solid black; */
    width: 350px;
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: xx-large;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
}

.content2 {
    /* border: 1px solid white; */
    color: white;
    font-weight: 600;
    font-size: large;
    padding-left: 30px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

.inner-con1 {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    /* gap: 10px; */

}

.content3 {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 400;

}

.content4 {
    /* border: 1px solid white; */
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.mail {
    border: 1px solid white;
    height: 40px;
    width: 290px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color: rgb(157, 157, 157);
    padding-left: 10px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

.get-started {
    border: 1px solid white;
    height: 40px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: red;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}